
  <script src="/js/index.js"></script>
  <script src="/js/toggleMenu.js"></script>
  <script src="/js/modal.js"></script>
  <script src="/js/keyboard.js"></script>
  <script src="/js/touchMenu.js"></script>
  <script src="/js/proyects.js"></script>
  <script src="/js/archives.js"></script>
  <script src="/js/editor.js"></script>
  <script src="/js/_global.js"></script>
  <script src="https://kit.fontawesome.com/46835d52b3.js" crossorigin="anonymous"></script>
</body>

</html>