<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Editor con javascript</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/touchMenu.css">
  <link rel="stylesheet" href="/css/proyects.css">
  <link rel="stylesheet" href="/css/archives.css">
  <link rel="stylesheet" href="/css/editor.css">
  <link rel="stylesheet" href="/css/header.css">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/@exuanbo/file-icons-js@latest/dist/css/file-icons.min.css" rel="stylesheet">
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="//cdn.jsdelivr.net/npm/eruda"></script>
  <script>eruda.init();</script>
</head>

<body>