<!-- Modal new file -->
<div class="modal" style="display: none;" id="modal-name">
  <div class="modal-content new-file">
    <div class="modal-header"></div>
    <div class="modal-body">
      <h4>Title</h4>
      <p>rute</p>
      <input type="text" value="/">
      <input type="text">
    </div>
    <div class="modal-footer">
      <button>Cancelar</button>
      <button>Hecho</button>
    </div>
  </div>
</div>
<!-- Modal file-explorer -->
<div class="modal" style="display: none;" id="file-explorer">
  <div class="modal-content file-explorer">
    <div class="modal-header">
      <div>
        <h4>Open file</h4>
        <button id="explore-back">&#x2190;</button>
      </div>
      <p id="explore-rute"></p>
    </div>
    <div class="modal-body">
      <div id="explorer">
        <div class="local folder" data-ruta="/root/">.... Local</div>
      </div>
    </div>
  </div>
</div>

<!-- Modal item explorer -->
<div class="modal-items" style="display: none;">
  <div>
    <div class="header">
      <h4 class="title"></h4>
    </div>
    <div class="body">
      <ul>
        <input type="text">
        <li><button>Open</button></li>
        <li><button>Rename</button></li>
        <li><button>Delete</button></li>
      </ul>
    </div>
  </div>
</div>